<div class="col-md-8 col-md-offset-2">
  <h1 class="text-center">About Us</h1><br />

  <b>Principal Investigators:</b><br />
  Dr. Wisnu Ananta Kusuma<br />
  Dr. Sony Hartono Wijaya<br />
  Rudi Heryanto, MSi<br />
  <br />

  <b>System-Integration and Lead Programmer:</b><br />
  Vektor Dewanto<br /><br />

  <b>Programmers:</b><br />
  # Webserver:<br />
  Haekal Zidni Barkan<br />
  Ivan Maulana<br />
  Aries Fitriawan (Ijahv1) <br />
  Yudha Kristanto (Ijahv1) <br />
  # Database:<br />
  [Call for programmers]<br />
  # Predictor:<br />
  Ajmal Kurnia<br />
  Muhammad Syahid Pebriadi<br />
  <br />

  <b>Contributors:</b><br />
  Erna Harfiani<br />
  <br />

  <b>Offices:</b><br />
  <a href="http://biofarmaka.ipb.ac.id" target="_blank">Tropical Biopharmaca Research Center</a><br />
  Jalan Taman Kencana No.3, <br />
  Bogor, Indonesia<br /><br />

  <a href="http://cs.ipb.ac.id" target="_blank">Computer Science Department</a><br />
  Bogor Agricultural University (IPB)<br />
  Dramaga Campus, Bogor, Indonesia<br />

</div>
