<!--HEADER ROW-->
<div id="header-row">
  <div class="container">
    <div class="row">
      <!--LOGO-->
      <div class="col-sm-3 col-md-3">
        <a class="navbar navbar-left" [routerLink]=" ['./home'] "><img src="assets/img/logo.png" class="img-responsive"></a>
      </div>
      <!-- /LOGO -->
      <!-- MAIN NAVIGATION -->
      <div class="col-sm-9 col-md-9">
        <div class="navbar navbar-right">
          <div class="navbar-header"><a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="navbar-toggle"><span class="glyphicon glyphicon-bar"></span><span class="glyphicon glyphicon-bar"></span><span class="glyphicon glyphicon-bar"></span></a>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a [routerLink]=" ['./home'] ">Home</a></li>
              <li class="active"><a [routerLink]=" ['./manual'] ">Manual</a></li>
              <li class="active"><a [routerLink]=" ['./downloads'] ">Downloads</a></li>
              <li class="active"><a [routerLink]=" ['./help-faq'] ">Help/FAQ</a></li>
              <li class="active"><a [routerLink]=" ['./ijahv1'] ">Ijahv1</a></li>
              <li class="active"><a [routerLink]=" ['./disclaimer'] ">Disclaimer</a></li>
              <li class="active"><a [routerLink]=" ['./contact'] ">ContactUs</a></li>
              <li class="active"><a [routerLink]=" ['./about'] ">AboutUs</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- MAIN NAVIGATION -->
    </div>
  </div>
</div>
<!-- /HEADER ROW -->

<div class="container">
  <!--   ==================================================-->
  <div class="row" >

    <!-- Radio -->
    <main>
      <router-outlet></router-outlet>
    </main>

  </div>

</div>

<!--Footer ==========================-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8 foot">
        Copyright 2017,
        <a href="http://biofarmaka.ipb.ac.id" target="_blank">Tropical Biopharmaca Research Center</a> &
        <a href="http://cs.ipb.ac.id" target="_blank">Computer Science Department IPB</a><br>
        Best viewed with Chrome Browser on Desktops
        [Ijah: v201703071850]
      </div>
      <div class="verticalLineA col-sm-8 col-md-4 foot">
        Visitors: <br />
        <a href="http://info.flagcounter.com/cTxC"><img src="http://s07.flagcounter.com/count/cTxC/bg_F5F5F5/txt_363A4D/border_F5F5F5/columns_3/maxflags_9/viewers_3/labels_1/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
      </div>
    </div>
  </div>
</footer>
