<div class="col-md-8 col-md-offset-2">
  <h1 class="text-center">Downloads</h1><br />
  Here, we provide .csv file downloads of several major entities in our database. Enjoy.<br />
  All data are freshly served from our database so that they are always up-to-date.<br />
  To download, click any filename listed below.
  Notice that some downloads may take quite some time.<br />
  If you benefit from any of these, please kindly cite our work,
  see <a href="http://ijah.apps.cs.ipb.ac.id/#/help-faq" target="_blank">Help/FAQ page</a>.<br />
  <br />

  <div class="col-md-8 text-left">
  <!-- ####################################################################### -->
  <b>Metadata:</b><br />
  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('pla')">
  plant_metadata.csv
  </button> <br />

  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('com')">
  compound_metadata.csv
  </button> <br />

  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('pro')">
  protein_metadata.csv
  </button> <br />

  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('dis')">
  disease_metadata.csv
  </button> <br />
  <br />

  <!-- ####################################################################### -->
  <b>Connectivity data:</b><br />
  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('pla_vs_com')">
  plant_vs_compound_connectivity.csv
  </button> <br />

  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('com_vs_pro')">
  compound_vs_protein_connectivity.csv
  </button> <br />

  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('pro_vs_dis')">
  protein_vs_disease_connectivity.csv
  </button> <br />
  <br />

  <!-- ####################################################################### -->
  <b>Similarity (kernels) data:</b><br />
  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('TODO')">
  compound_similarity_simcomp.csv
  </button> <br />

  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('TODO')">
  protein_similarity_smithwatermann.csv
  </button> <br />
  <br />

  <!-- ####################################################################### -->
  <b> Feature data:</b><br />
  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('TODO')">
  compound_feature_smiles.csv
  </button> <br />

  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  (click)="download('TODO')">
  protein_feature_sequence.csv
  </button> <br />
  <br />

  <!-- ####################################################################### -->
  <b>Documents:</b><br />
  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  onclick="location.href='https://github.com/tttor/csipb-jamu-prj/archive/master.zip'">
  source-code
  </button> <br />
  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  onclick="location.href='http://ijah.apps.cs.ipb.ac.id/api/ijah_webserver_manual_en.pdf'">
  ijah_webserver_manual_en.pdf
  </button> <br />
  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  onclick="location.href='http://ijah.apps.cs.ipb.ac.id/api/ijah_webserver_manual_id.pdf'">
  ijah_webserver_manual_id.pdf
  </button> <br />
  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  onclick="location.href='http://ijah.apps.cs.ipb.ac.id/api/ijah_webserver_manual_en.pdf'">
  ijah_webserver_paper.pdf
  </button> <br />
  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  onclick="location.href='http://ijah.apps.cs.ipb.ac.id/api/ijah_demo_video.ogv'">
  ijah_demo_video.avi
  </button> <br />
  <button
  style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer;"
  onclick="location.href='http://ijah.apps.cs.ipb.ac.id/api/ijah_demo_video_2.ogv'">
  ijah_demo_video_2.avi
  </button> <br />
  </div>
</div>
