<div class="col-md-8 col-md-offset-2">
<h1 class="text-center">Downloads</h1><br />
Here, we provide .csv file downloads of several major entities in our database. Enjoy.<br />
All data are freshly served from our database so that they are always up-to-date.<br />
To download, click any filename listed below.
Notice that some downloads may take quite some time.<br />
If you benefit from any of these, please kindly cite our work,
see <a href="http://ijah.apps.cs.ipb.ac.id/#/help-faq" target="_blank">Help/FAQ page</a>.<br />
<br />

We apologize, this page is still in preparation. Thank you.
</div>
