<div class="row feature-box">
    <div class="cnt-title col-sm-12 col-md-12">
     <h1>Ijah Webserver</h1>
     <h3>Search for (Plant - Compound) - (Protein - Disease) Connectivity</h3>
    </div>
</div>

<div>
  <div class="loading text-center" *ngIf="click">
    <div class="bounceball"></div>
    <div class="text">Please be patient. We are processing ...</div>
  </div>
</div>

<div *ngIf="!click">
  <div class="row" *ngIf="!show">
    <p class="contoh col-md-12 text-center">
      <button class="btn btn-success"(click)="example7()">Example #1a</button>
      <button class="btn btn-success"(click)="example5()">Example #1b</button>
      <button class="btn btn-success"(click)="example8()">Example #1c</button>
      <button class="btn btn-success"(click)="example6()">Example #1d</button>
      <button class="btn btn-success"(click)="example1()">Example #2a</button>
      <button class="btn btn-success"(click)="example2()">Example #2b</button>
      <button class="btn btn-success"(click)="example3()">Example #3a</button>
      <button class="btn btn-success"(click)="example4()">Example #3b</button>
    </p>
    <div class="col-md-6">
      <div class="row text-center">
        <h3>
          Drug-Side
        </h3>
      </div>

      <div class="col-md-6">
        <div *ngIf="activeTanaman">
          <h4>
            Plants (of {{plant_total}})
          </h4>
          <div *ngFor="let t of plant">
            <template #customTanaman let-model="item" let-index="index">
              <h5>{{model.pla_name}} <span *ngIf="model.pla_idr_name">|</span> {{model.pla_idr_name}}</h5>
            </template>
            <input [(ngModel)]="t.value"
                   [typeahead]="plantSearch"
                   [typeaheadItemTemplate]="customTanaman"
                   [typeaheadOptionField]="'search'"
                   [typeaheadOptionsLimit]="10"
                   (typeaheadOnSelect)="selectPlant($event, t.index)"
                   (typeaheadNoResults)="changeTypeaheadNoResults($event, 1)"
                   class="form-control verticalLine1"
                   placeholder="Latin Name | Indonesian Name"
                   (focus)="focusPlant(t.index)">
             <div *ngIf="noResultPlant===true" class="" style="">
               <span style="color:red; font-size:13px">Sorry, unavailable, please try another input.</span>
             </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div *ngIf="activeCompound">
          <h4>
            Compounds (of {{compound_total}})
          </h4>
          <div *ngFor="let c of compound">
            <template #customCompound let-model="item" let-index="index">
              <h5>{{model.com_cas_id}} <span *ngIf="model.com_knapsack_id">|</span> {{model.com_knapsack_id}} <span *ngIf="model.com_drugbank_id">|</span> {{model.com_drugbank_id}}</h5>
            </template>
            <input [(ngModel)]="c.value"
                   [typeahead]="compoundSearch"
                   [typeaheadItemTemplate]="customCompound"
                   [typeaheadOptionField]="'search'"
                   [typeaheadOptionsLimit]="10"
                   (typeaheadOnSelect)="selectCompound($event, c.index)"
                   (typeaheadNoResults)="changeTypeaheadNoResults($event, 2)"
                   class="form-control verticalLine2"
                   placeholder="CAS | KnapSack ID | DrugBank ID"
                   (focus)="focusCompound(c.index)">
             <div *ngIf="noResultCompound===true" class="" style="">
               <span style="color:red; font-size:13px">Sorry, unavailable, please try another input.</span>
             </div>
          </div>
        </div>
      </div>
    </div>

    <div class="verticalLineA col-md-6">
      <div class="row text-center">
        <h3>
          Target-Side
        </h3>
      </div>

      <div class="col-md-6" >
        <div *ngIf="activeProtein">
          <h4>
            Proteins (of {{protein_total}})
          </h4>
          <div *ngFor="let p of protein">
            <template #customProtein let-model="item" let-index="index">
              <h5>{{model.pro_uniprot_id}} | {{model.pro_name}}</h5>
            </template>
            <input [(ngModel)]="p.value"
                   [typeahead]="proteinSearch"
                   [typeaheadItemTemplate]="customProtein"
                   [typeaheadOptionField]="'search'"
                   [typeaheadOptionsLimit]="10"
                   (typeaheadOnSelect)="selectProtein($event, p.index)"
                   (typeaheadNoResults)="changeTypeaheadNoResults($event, 3)"
                   class="form-control verticalLine3"
                   placeholder="Uniprot ID | Uniprot Name"
                   (focus)="focusProtein(p.index)">
             <div *ngIf="noResultProtein===true" class="" style="">
               <span style="color:red; font-size:13px">Sorry, unavailable, please try another input.</span>
             </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div *ngIf="activeDisease">
          <h4>
            Diseases (of {{disease_total}})
          </h4>
          <div *ngFor="let d of disease">
            <template #customDisease let-model="item" let-index="index" class="right-input">
              <h5>{{model.dis_omim_id}} | {{model.dis_name}}</h5>
            </template>
            <input [(ngModel)]="d.value"
                   [typeahead]="diseaseSearch"
                   [typeaheadItemTemplate]="customDisease"
                   [typeaheadOptionField]="'search'"
                   [typeaheadOptionsLimit]="10"
                   (typeaheadOnSelect)="selectDisease($event, d.index)"
                   (typeaheadNoResults)="changeTypeaheadNoResults($event, 4)"
                   class="form-control verticalLine4"
                   placeholder="OMIM ID | OMIM Name"
                   (focus)="focusDisease(d.index)">
             <div *ngIf="noResultDisease===true" class="" style="">
               <span style="color:red; font-size:13px">Sorry, unavailable, please try another input.</span>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row" *ngIf="!show">
    <div class="col-md-4 col-md-offset-4">
      <a>
        <button class="form-control btn btn-success" (click)="searchAndPredictButtonCallback()"> Search and Predict</button>
      </a>
    </div>
  </div>
  <br />
  <div class="row" *ngIf="!show">
    <div class="col-md-2 col-md-offset-5">
      <button class="form-control btn btn-danger" (click)="reset()">Reset</button>
    </div>
  </div>

  <div class="row" *ngIf="show">
    <div class="row text-center">
        <font color="#696969">_____________________________________________________________________________________________________________________________________</font>
    </div>
    <div class="text-center col-md-12">
     <h2><strong>Multi-partite Connectivity Graph Output</strong></h2>
   </div>
  </div>

  <!-- The multi-partite graph output ////////////////////////////////////// -->
  <div class="row" *ngIf="baseAPI != 'http://localhost/ijah-api/'">
    <iframe id="graph" class="text-center" *ngIf="show" src="app_home_graph_output.html" height="750px" width="100%" frameBorder="0"></iframe>
  </div>

  <!-- Text Output ///////////////////////////////////////////////////////// -->
  <div class="row" *ngIf="show">
    <div class="row text-center">
        <font color="#696969">_____________________________________________________________________________________________________________________________________</font>
    </div>
    <div class="text-center col-md-12">
     <h2><strong>Connectivity Text Output</strong></h2>
    </div>
    <div class="col-md-4">
      Plant - Compound Connectivity
      <pre [innerHTML]="jsonPlantCompound">
      </pre>
    </div>
    <div class="col-md-4">
      Compound - Protein Connectivity
      <pre [innerHTML]="jsonCompoundProtein">
      </pre>
    </div>
    <div class="col-md-4">
      Protein - Disease Connectivity
      <pre [innerHTML]="jsonProteinDisease">
      </pre>
    </div>
    <br />

    <div class="col-md-4">
      <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadJSON('jsonPlaComp', 'ijah_plant-compound-interaction.json')">Download Plant-Compound Connectivity</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadJSON('jsonCompProt', 'ijah_compound-protein-interaction.json')">Download Compound-Protein Connectivity</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadJSON('jsonProtDis', 'ijah_protein-disease-interaction.json')">Download Protein-Disease Connectivity</button>
    </div>
    <br />

    <div class="col-md-2 col-md-offset-5">
      <br />
      <button class="form-control btn btn-danger" (click)="reset()">Reset</button>
    </div>
  </div>
  <br />
  <br />

</div>
