<div class="row feature-box">
  <div class="col-sm-12 col-md-12" id="top">
    <h1>Ijah Webserver</h1>
    <h3>Search and Predict (Plant - Compound) - (Protein - Disease) Connectivity</h3>
  </div>
</div>

<div>
  <div class="loading text-center" *ngIf="click">
    <div class="bounceball"></div>
    <div class="text">Please be patient. We are searching<span *ngIf="this.mode.indexOf('predict')!==-1"> and predicting</span> ...</div>
  </div>
</div>

<div *ngIf="!click">
  <div class="row" *ngIf="!show">
    <p class="contoh col-md-12 text-center">
      <button class="btn btn-success"(click)="exampleCallback('plant_vs_disease')">Example #1a</button>
      <button class="btn btn-success"(click)="exampleCallback('plant_vs_protein')">Example #1b</button>
      <button class="btn btn-success"(click)="exampleCallback('compound_vs_protein')">Example #1c</button>
      <button class="btn btn-success"(click)="exampleCallback('compound_vs_disease')">Example #1d</button>
      <button class="btn btn-success"(click)="exampleCallback('plant')">Example #2a</button>
      <button class="btn btn-success"(click)="exampleCallback('compound')">Example #2b</button>
      <button class="btn btn-success"(click)="exampleCallback('protein')">Example #3a</button>
      <button class="btn btn-success"(click)="exampleCallback('disease')">Example #3b</button>
    </p>
  <div class="card card-3">
    <div class="col-md-6">
      <div class="row text-center">
        <h3>
          Drug-Side
        </h3>
      </div>

      <div class="col-md-6">
        <h4>
          Plants (of {{nPlantInDB}})
        </h4>
        <div *ngIf="activeTanaman">
          <div *ngIf="plantSearch.length===0">
            Preparing plant inputs ...
          </div>
          <div *ngIf="plantSearch.length>0">
            <div *ngFor="let p of plaInputHolders">
              <template #customTanaman let-model="item" let-index="index">
                <h5>{{model.pla_name}} <span *ngIf="model.pla_idr_name">|</span> {{model.pla_idr_name}}</h5>
              </template>
              <div class="input-group">
                <input [(ngModel)]="p.value"
                       [typeahead]="plantSearch"
                       [typeaheadItemTemplate]="customTanaman"
                       [typeaheadOptionField]="'search'"
                       [typeaheadOptionsLimit]="10"
                       (typeaheadOnSelect)="selectPlant($event, p.index)"
                       (typeaheadNoResults)="changeTypeaheadNoResults($event, 1)"
                       class="form-control verticalLine1 hasclear"
                       placeholder="LatinName IndonesianName"
                       (focus)="focusPlant(p.index)">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" (click)="deletePlant(p.index)"><img src="app/home/cancel.png"></button>
                </span>
              </div>
               <div *ngIf="noResultPlant===true" class="" style="">
                 <span style="color:red; font-size:13px">Sorry, unavailable, please try another input.</span>
               </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h4>
            Compounds (of {{nCompoundInDB}})
        </h4>
        <div *ngIf="activeCompound">
          <div *ngIf="compoundSearch.length===0">
            Preparing compound inputs ...
          </div>
          <div *ngIf="compoundSearch.length>0">
            <div *ngFor="let c of comInputHolders">
              <template #customCompound let-model="item" let-index="index">
                <h5>{{model.com_cas_id}} <span *ngIf="model.com_pubchem_name">|</span> {{model.com_pubchem_name}} <span *ngIf="model.com_iupac_name">|</span> {{model.com_iupac_name}}</h5>
              </template>
              <div class="input-group">
                <input [(ngModel)]="c.value"
                       [typeahead]="compoundSearch"
                       [typeaheadItemTemplate]="customCompound"
                       [typeaheadOptionField]="'search'"
                       [typeaheadOptionsLimit]="10"
                       (typeaheadOnSelect)="selectCompound($event, c.index)"
                       (typeaheadNoResults)="changeTypeaheadNoResults($event, 2)"
                       class="form-control verticalLine2"
                       placeholder="CAS PubchemName IUPACName"
                       (focus)="focusCompound(c.index)">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" (click)="deleteCompound(p.index)"><img src="app/home/cancel.png"></button>
                </span>
              </div>
               <div *ngIf="noResultCompound===true" class="" style="">
                 <span style="color:red; font-size:13px">Sorry, unavailable, please try another input.</span>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="verticalLineA col-md-6">
      <div class="row text-center">
        <h3>
          Target-Side
        </h3>
      </div>

      <div class="col-md-6" >
        <h4>
          Proteins (of {{nProteinInDB}})
        </h4>
        <div *ngIf="activeProtein">
          <div *ngIf="proteinSearch.length===0">
            Preparing protein inputs ...
          </div>
          <div *ngIf="proteinSearch.length>0">
            <div *ngFor="let p of proInputHolders">
              <template #customProtein let-model="item" let-index="index">
                <h5>{{model.pro_uniprot_id}} <span *ngIf="model.pro_uniprot_abbrv">|</span> {{model.pro_uniprot_abbrv}} <span *ngIf="model.pro_name">|</span> {{model.pro_name}}</h5>
              </template>
              <div class="input-group">
                <input [(ngModel)]="p.value"
                       [typeahead]="proteinSearch"
                       [typeaheadItemTemplate]="customProtein"
                       [typeaheadOptionField]="'search'"
                       [typeaheadOptionsLimit]="10"
                       (typeaheadOnSelect)="selectProtein($event, p.index)"
                       (typeaheadNoResults)="changeTypeaheadNoResults($event, 3)"
                       class="form-control verticalLine3"
                       placeholder="UniprotID UniprotAbbrv UniprotName"
                       (focus)="focusProtein(p.index)">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" (click)="deleteProtein(p.index)"><img src="app/home/cancel.png"></button>
                </span>
              </div>
               <div *ngIf="noResultProtein===true" class="" style="">
                 <span style="color:red; font-size:13px">Sorry, unavailable, please try another input.</span>
               </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h4>
            Diseases (of {{nDiseaseInDB}})
          </h4>
        <div *ngIf="activeDisease">
          <div *ngIf="diseaseSearch.length===0">
            Preparing disease inputs ...
          </div>
          <div *ngIf="diseaseSearch.length>0">
            <div *ngFor="let d of disInputHolders">
              <template #customDisease let-model="item" let-index="index" class="right-input">
                <h5>{{model.dis_omim_id}} | {{model.dis_name}}</h5>
              </template>
              <div class="input-group">
                <input [(ngModel)]="d.value"
                       [typeahead]="diseaseSearch"
                       [typeaheadItemTemplate]="customDisease"
                       [typeaheadOptionField]="'search'"
                       [typeaheadOptionsLimit]="10"
                       (typeaheadOnSelect)="selectDisease($event, d.index)"
                       (typeaheadNoResults)="changeTypeaheadNoResults($event, 4)"
                       class="form-control verticalLine4"
                       placeholder="OmimID OmimName"
                       (focus)="focusDisease(d.index)">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" (click)="deleteDisease(p.index)"><img src="app/home/cancel.png"></button>
                </span>
              </div>
               <div *ngIf="noResultDisease===true" class="" style="">
                 <span style="color:red; font-size:13px">Sorry, unavailable, please try another input.</span>
               </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

  <br />

  <div class="row" *ngIf="!show">
    <div class="col-md-4 col-md-offset-4">
      <a>
        <button class="form-control btn btn-success" (click)="searchAndPredictButtonCallback()"> Search <span *ngIf="(this.selectedPlants.length!==0 || this.selectedCompounds.length!==0) && (this.selectedProteins.length!==0 || this.selectedDiseases.length!==0)">and Predict</span></button>
      </a>
    </div>
  </div>
  <br />
  <div class="row" *ngIf="!show">
    <div class="col-md-2 col-md-offset-5">
      <button class="form-control btn btn-danger" (click)="reset()">Reset</button>
    </div>
  </div>

  <div class=" fab fab6">
    <span class="icon"></span>
    <span>Add Formula</span>
  </div>

  <div class="row" *ngIf="show">
    <!-- The control buttons on bottom -->
    <div style="z-index:10000000; position: fixed" class="card-fixed" id="buttoncard">
      <div style="z-index:500; position: relative" class="col-md-1">
        <button class="btn btn-danger col-md-12 text-center"(click)="backButtonCallback()">Back</button>
      </div>
      <div style="z-index:500; position: relative" class="col-md-2">
        <a style="color:white" pageScroll href="#metadataText" class="btn btn-info col-md-12 text-center">MetaText</a>
      </div>
      <div style="z-index:500; position: relative" class="col-md-2">
        <a style="color:white" pageScroll href="#connectivityText" class="btn btn-info col-md-12 text-center">ConnText</a>
      </div>
      <div style="z-index:500; position: relative" class="col-md-2">
        <a style="color:white" pageScroll href="#connectivityGraph" class="btn btn-info col-md-12 text-center">ConnGraph</a>
      </div>
      <div style="z-index:500; position: relative" class="col-md-2">
        <a style="color:white" pageScroll href="#top" class="btn btn-info col-md-12 text-center">Summary</a>
      </div>
      <div style="z-index:500; position: relative" class="col-md-2">
        <button class="btn btn-danger col-md-12 text-center"(click)="filter()">Filter {{filterThreshold}}</button>
      </div>
      <div style="z-index:500; position: relative" class="col-md-1">
        <button class="btn btn-danger col-md-12 text-center"(click)="reset()">Reset</button>
      </div>
      <div *ngIf="(this.mode.indexOf('predict')!==-1)" style="z-index:500; position: relative; padding-top:8px" class="col-md-12">
        <button class="btn btn-danger col-md-4 col-md-offset-4 text-center"(click)="predictMore()">Predict More</button>
      </div>
    </div>

    <!-- The summary output //////////////////////////////////////////////// -->
    <div>
      <div style="z-index:500; position: relative" class="card card-2" id="summary">

      <div class="text-center col-md-12"><h2><strong>Summary</strong></h2></div>
      <div style="z-index:500; position: relative" class="col-md-4">
        <pre [innerHTML]="summaryTxtOutput" style="height:190px"></pre>
      </div>
      <div class="col-md-4">
        <pre [innerHTML]="summaryTxtOutput2" style="height:190px"></pre>
      </div>
      <div class="col-md-4">
        <pre [innerHTML]="summaryTxtOutput3" style="height:190px"></pre>
      </div>
      </div>

<!--       <div>
        <b>Jump to Outputs:</b>
        1) <a pageScroll href="#connectivityGraph">Connectivity Graph</a> or
        2) <a pageScroll href="#connectivityText">Connectivity Text</a> or
        3) <a pageScroll href="#metadataText">Metadata Text</a>
      </div>
      <br /> -->

      <!-- The multi-partite graph output ////////////////////////////////// -->
      <div style="z-index:500; position: relative" class="card card-2" id="connectivityGraph">
      <div class="text-center col-md-12">
        <h2><strong>Connectivity Graph</strong></h2>
      </div>
      <iframe id="graph" *ngIf="showGraph" class="text-center" src="assets/app_home_graph_output.html" height="850px" width="100%" frameBorder="0"></iframe>
    </div>

      <!-- Connectivity Text Output //////////////////////////////////////// -->
      <div style="z-index:500; position: relative" class="card card-2" id="connectivityText">
      <div class="text-center col-md-12">
        <h2><strong>Connectivity Text</strong></h2>
      </div>

      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="!plaVScomSwapped">
        Plant - Compound Connectivity:
          <button style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer; color: blue"
          (click)="toggleConnectivitySwap('plaVScom')">
          [ Swap! ]
          </button>
        <pre [innerHTML]="plaVScomTxtOutput" style="height:800px"></pre>
      </div>
      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="plaVScomSwapped">
        Compound - Plant Connectivity:
        <button style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer; color: blue"
          (click)="toggleConnectivitySwap('plaVScom')">
          [ Swap! ]
          </button>
        <pre [innerHTML]="comVSplaTxtOutput" style="height:800px"></pre>
      </div>

      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="!comVSproSwapped">
        Compound - Protein Connectivity:
          <button style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer; color: blue"
          (click)="toggleConnectivitySwap('comVSpro')">
          [ Swap! ]
          </button>
        <pre [innerHTML]="comVSproTxtOutput" style="height:800px"></pre>
      </div>
      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="comVSproSwapped">
        Protein - Compound Connectivity:
        <button style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer; color: blue"
          (click)="toggleConnectivitySwap('comVSpro')">
          [ Swap! ]
          </button>
        <pre [innerHTML]="proVScomTxtOutput" style="height:800px"></pre>
      </div>

      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="!proVSdisSwapped">
        Protein - Disease Connectivity:
          <button style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer; color: blue"
          (click)="toggleConnectivitySwap('proVSdis')">
          [ Swap! ]
          </button>
        <pre [innerHTML]="proVSdisTxtOutput" style="height:800px"></pre>
      </div>
      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="proVSdisSwapped">
        Disease - Protein Connectivity:
        <button style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:0px solid #444; cursor: pointer; color: blue"
          (click)="toggleConnectivitySwap('proVSdis')">
          [ Swap! ]
          </button>
        <pre [innerHTML]="disVSproTxtOutput" style="height:800px"></pre>
      </div>

      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="!plaVScomSwapped">
        <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadTextOutput('plant_vs_compound')">Download Plant-Compound Connectivity</button>
      </div>
      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="plaVScomSwapped">
        <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadTextOutput('compound_vs_plant')">Download Compound-Plant Connectivity</button>
      </div>

      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="!comVSproSwapped">
        <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadTextOutput('compound_vs_protein')">Download Compound-Protein Connectivity</button>
      </div>
      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="comVSproSwapped">
        <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadTextOutput('protein_vs_compound')">Download Protein-Compound Connectivity</button>
      </div>

      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="!proVSdisSwapped">
        <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadTextOutput('protein_vs_disease')">Download Protein-Disease Connectivity</button>
      </div>
      <div style="z-index:500; position: relative" class="col-md-4" *ngIf="proVSdisSwapped">
        <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadTextOutput('disease_vs_protein')">Download Disease-Protein Connectivity</button>
      </div>
      <br />
    </div>

      <!-- Metadata Text Output /////////////////////////////////////////// -->
      <div style="z-index:500; position: relative" class="card card-2" id="metadataText">
      <div class="text-center col-md-12">
        <h2><strong>Metadata Text</strong></h2>
      </div>
      <div style="z-index:500; position: relative" class="col-md-3">
        Plant Metadata
        <pre [innerHTML]="plaMetaTxtOutput" style="height:800px"></pre>
      </div>
      <div class="col-md-3">
        Compound Metadata
        <pre [innerHTML]="comMetaTxtOutput" style="height:800px"></pre>
      </div>
      <div style="z-index:500; position: relative" class="col-md-3">
        Protein Metadata
        <pre [innerHTML]="proMetaTxtOutput" style="height:800px"></pre>
      </div>
      <br />
      <div style="z-index:500; position: relative" class="col-md-3">
        Disease Metadata
        <pre [innerHTML]="disMetaTxtOutput" style="height:800px"></pre>
      </div>
      <br />

      <div style="z-index:500; position: relative" class="col-md-3">
        <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadTextOutput('plant')">Download Plant Meta</button>
      </div>
      <div style="z-index:500; position: relative" class="col-md-3">
        <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadTextOutput('compound')">Download Compound Meta</button>
      </div>
      <div style="z-index:500; position: relative" class="col-md-3">
        <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadTextOutput('protein')">Download Protein Meta</button>
      </div>
      <div style="z-index:500; position: relative" class="col-md-3">
        <button class="btn btn-success col-md-10 col-md-offset-1 text-center" (click)="downloadTextOutput('disease')">Download Disease Meta</button>
      </div>
      <br />
    </div>

    </div>
  </div>
</div>
