.spinner{width:50px;height:50px;position:relative;top:50%;transform:translateY(-50%);margin:100px auto}.double-bounce1,.double-bounce2{width:100%;height:100%;border-radius:50%;background-color:#16a085;opacity:.6;position:absolute;top:0;left:0;-webkit-animation:sk-bounce 2s infinite ease-in-out;animation:sk-bounce 2s infinite ease-in-out}.double-bounce2{-webkit-animation-delay:-1s;animation-delay:-1s}@-webkit-keyframes sk-bounce{0%,100%{-webkit-transform:scale(0)}50%{-webkit-transform:scale(1)}}@keyframes sk-bounce{0%,100%{transform:scale(0);-webkit-transform:scale(0)}50%{transform:scale(1);-webkit-transform:scale(1)}}

.header {
	background-color: #1abc9c;
	padding-top: 20px;
}
/*
Global
============================= */

html,body{
	font-family:'Source Sans Pro', sans-serif;
	color:#666;
	font-size:16px;
	font-weight: 400;
	  -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;

 overflow-x: hidden;
 overflow-y: scroll;

}

* {
     text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

p{line-height: 24px}
a{color:#0088cc;}
a:hover{text-decoration: none;}

h1,h2,h3,h4,h5,h6{ font-family:'Source Sans Pro', sans-serif}

h1{font-size:50px; font-weight: 200; color: #555; margin-bottom: 20px;}
h2{font-size: 30px; font-weight: 300; color:#444; margin: 30px 0}
h3{font-size: 20px; font-weight: 400; margin: 20px 0;}
h4{font-size:18px; font-weight: 400}

/*
HEADER ROW STYLE
===========================*/
#header-row{
	background: #f5f5f5;
	border-bottom:1px solid #eee;
	border-top:10px solid #eee;
	padding: inherit;
	/*margin-top: -10px;*/
	/*margin-bottom: -10px;*/
}

#header-row .navbar{margin:10px 0 0 0;}

#header-row .navbar .navbar-inner{
	border:none;
	box-shadow: none;
	margin: 0;
	background: transparent;
}

#header-row .navbar .navbar-inner ul.nav > li > a{
	box-shadow: none;
	background: transparent;
	color: #0088cc;
}
#header-row .navbar .navbar-inner ul.nav li.active a{
	color: #333;
}


/*
Carousel
===========================*/

.carousel-control{
	background: transparent;
	width: 14px;
	height: 14px;
	font-size: 14px;
	top:50%;
}

.carousel-control.right{right:-30px; }
.carousel-control.left{left:-30px; }



.carousel{
	height: 500px;
	background: url(../img/slide-bg.png) no-repeat bottom center;
}

.carousel img{
	max-width: 100%;
}

.carousel-caption {
      background-color: transparent;
      position: relative;
      max-width: 100%;
      padding: 0 20px;
      margin-top:20%;
      margin-left:-20%;

}

.carousel-caption h1{
	font-size: 50px;
	text-transform: capitalize;
	margin-bottom: 30px;
	color:#555;
	font-weight:200;
	align-items:left;

}
.carousel-caption .lead{
	color: #888;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 40px;
	font-weight: 400;
}


/* Divider
==================*/
.hr-divider{
	background: url(../img/slide-bg.png) no-repeat bottom center;
	width:1170px;
	height: 100px;
	margin-bottom: 50px;
	display: block;
	clear: both;}



/*Feature
==========================*/
.feature-box{
	margin-top: 20px;
	margin-bottom: -20px;
	text-align: center;
}
.feature-box2{
	margin-top: -10px;
	margin-left: -30px;
	margin-right: -40px;
	text-align: center;
}
.feature-box3{
	margin-top: -40px;
	margin-left: -50px;
	margin-right: -10px;
	text-align: center;
}

.predict{
	margin-top: 20px;
	text-align: center;
}

.cnt-title { text-align: center; margin-bottom: 50px;}
.cnt-title span {
	font-size: 24px;
	font-weight: 200;
}

/* Review
==========================*/
.review{
	margin: 80px 0;
}

/* Page Header
==========================*/

.page-header{
	border-bottom: 1px solid #f5f5f5;
}


/*Media
========================*/

.media{
	margin-bottom:50px;
}

/*MAP
========================*/
#map-canvas{
	height: 400px;
	border: 15px solid #fff;
	box-shadow:0 0 0 1px #f5f5f5;
}

/*field
========================*/

#box{
	width:20%;
	padding-bottom: 20%;
	background-color: blue;
	border-radius: 10px;
}

/*MAP
========================*/

.blog-post{
		border-bottom: 2px solid #f5f5f5;
		padding:0 0 50px;
		margin-bottom: 40px;
}


.blog-post p{
	margin: 20px 0;

}


.postmetadata{
	margin-bottom: 20px;
	padding: 5px 0;
}

.postmetadata ul{margin: 0; padding: 0}

.postmetadata ul li{
	display: inline-block;
	margin-right: 20px;
}

.postmetadata i{
	margin: 4px 5px 0 0;
}


/*verticalLine
========================*/
.verticalLine1 {
    border-left: thick solid #00b300;
}
.verticalLine2 {
    border-left: thick solid #ffe680;
}
.verticalLine3 {
    border-left: thick solid #6666ff;
}
.verticalLine4 {
    border-left: thick solid #ff4d4d;
}
.verticalLineA {
    border-left:  solid #cccccc;
		left:auto;
		margin-left: -5px;
		height: 5%
}

/*autocomplete
========================*/

.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }


/*Sidebar
========================*/

.side-bar{margin-bottom: 30px;}

.side-bar ul{margin: 0; padding: 0}
.side-bar ul li{list-style: none;}

.side-bar h3{margin-bottom: 10px}

.recent-post strong {display: block; margin-bottom: 5px; color: #888 }

.recent-post li{margin-bottom: 15px}

/*Tags
========================*/



/*Footer
========================*/

footer{
border-top: 10px solid #eee;
border-bottom: 10px solid #eee;
background: #f5f5f5;
padding-top: 20px;
padding-bottom: 10px;
color: #ccc;
margin-top:40px;
}


/* Responsive View
=================================*/

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Landscape phones and down */
@media (max-width: 480px) { }


.navbar-toggle {
   margin: 23px 0;
}

.navbar-nav, .navbar-nav li, .navbar-nav li a {
  height: 80px;
  line-height: 80px;
}

.navbar-nav li a {
  padding-top: 0;
  padding-bottom:0;
}
/* CYTOSCAPE
=================================*/


#cy {
  width: 1130px;
  height: 500px;
  display: block;
	margin-left: -25px;
	border-style: solid;
	border-color: #cccccc;

}

.config {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 17em;
  background: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  padding: 1em;
  color: #fff;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  overflow: auto;
  z-index: 1;
}

.param {
  margin-bottom: 1em;
}

.preamble {
  margin-bottom: 2em;
}

p {
  margin: 0.5em 0;
  font-size: 0.8em;
}

.param button {
  width: 3em;
  margin-right: 0.25em;
}

a,
a:hover {
  color: #62daea;
}

.label {
  display: inline-block;
}

.slider {
  display: block;
}

.config-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  margin: 0.2em;
  cursor: pointer;
  color: #888;
  z-index: 9999999;
}

.config-closed .config {
  opacity: 0;
  pointer-events: none;
}

.config-closed #cy {
  right: 0;
}

@media (max-width: 600px){
  #cy {
    right: 0;
  }
}

/* EXPORT
=================================*/

body {
    font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.dataset {
    float: left;
    vertical-align: top;


}

.widget {
    display: inline-block;
    background-color: white;
    font-size: 14px !important;
    line-height: 20px !important;

    margin: 5px;
    vertical-align: top;
    color: #333;

    border-radius: 5px;
    margin: 10px;
    padding-bottom: 20px;
    border: 1px solid lightgray;


    border-radius:5px;
    -webkit-border-radius: 5px;


    display: inline-block;
    page-break-after: always;

}

.widget .header p {
   padding: 10px;
   border-bottom: 1px solid lightgrey;
   max-width: 360px;
}

.widget .header .title {
    font-weight: bold;
    vertical-align: middle;
    min-height: 36px;
    padding: 5px 10px 5px 10px;

}

.widget .header:hover {
    background-color: #f4f4f4;
}

.widget .header  .title.selected {
    border-color: cornflowerblue;
    background-color: #EEF;

}

.widget .content {
    padding: 5px;
    overflow-y: auto;
    max-height: 400px;
}

.autolayout {
    display: inline-block;
}

.element {
    width: 360px;
}

.compact .content {
    display: table;
    width: 100%;
}

.compact .row {
    display: table-row;
    width: 100%;
}

.compact .cell {
    display: table-cell;
}

.compact .row.selected {
    background-color: #eee;
}



.toolbar {
    display: block;
    vertical-align: top;
    margin: 10px;
}

.toolbar .basis {
    min-width: 100px;
}

.btn {
    /*min-width: 60px;*/
}


.cell.value {
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    padding-right: 10px;
}

.cell.freq {
    width: 60px;
}

.cell.glyph {
    vertical-align: middle;
    width: 100px;
}


.element {

}
.element table {
    table-layout: fixed;
    width: 100%;
}

.element td {
    padding: 0px;

}

.element .selectable:hover {
    background-color: #f4f4f4;
}


.element .stat {
    text-align: right;
    padding-right: 20px;
    font-weigth: bold;
    color: darkgray;
}



.element .bar {
    height: 18px;
    display: inline-block;
    float: left;
}
.bar-both {
    background-color: #0a67a3 !important;

}

.bar-fg {
    background-color: #3e97d1 !important;
}

.bar-bg {
    background-color: #ddd !important;
}

.selected .bar-fg {
    background-color: #FC0;
}

.selected .bar-both  {
    background-color:#FA0;
}

tr.selected {
    background-color: #eee;
}

.crosstab .selectable:hover {
    background-color: #f4f4f4;
}

.crosstab tr.selected {
    background-color: #eee;
}

.crosstab .header p {
    max-width: 600px;
}


.crosstab td {
  padding: 0 5px 0 5px;
  text-align: right;
}

.crosstab td.value {
  min-width: 60px;
  max-width: 240px;
  text-align: left;
}

.crosstab .cell {
    vertical-align: top;
}



.crosstab th.cell {
    max-width: 120px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: right;
    padding-right: 10px;
    vertical-align: bottom;
}

.crosstab .n {
    color: darkgray;
}
.fieldlist {
}

.constraints {
    min-width:300px;
    padding: 10px;

    border-radius:5px;
    -webkit-border-radius: 5px;


}
.constraints table {
    width: 100%;

}

.sidenote {
  max-width:300px;
  padding: 0 10px 0px 10px;
  display: inline-block;
  vertical-align: top;
}

.headnote {
    max-width: 600px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.info-block {
    /*border: 1px solid lightgrey;*/
    background-color: #eee;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    display: block;

    /*box-shadow: 0 0 0 0px #9bc0cf, 0 0 0 3px #e0ebf0;*/
}

.menu-item {
}

.menu-item-value {
    text-align: right;
    float: right;
}

.gradient-blue {
    background: #b8e1fc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I4ZTFmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2E5ZDJmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzkwYmFlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iIzkwYmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzkwYmZmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzZiYThlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iI2EyZGFmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZGYzZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8e1fc), color-stop(10%, #a9d2f3), color-stop(25%, #90bae4), color-stop(37%, #90bcea), color-stop(50%, #90bff0), color-stop(51%, #6ba8e5), color-stop(83%, #a2daf5), color-stop(100%, #bdf3fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e1fc', endColorstr='#bdf3fd', GradientType=0); /* IE6-8 */
}




/*BUTTON*/
.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 20px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid rgba(131,196,83,1);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 15px "Advent Pro", Helvetica;
  color: rgba(131,196,83,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css:hover {
  color: rgba(255,255,255,1);
  background: rgba(131,196,83,1);
}

.enjoy-css:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.enjoy-css2 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 20px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid rgba(67,189,216,1);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 15px "Advent Pro", Helvetica;
  color: rgba(67,189,216,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css2:hover {
  color: rgba(255,255,255,1);
  background: rgba(67,189,216,1);
}

.enjoy-css2:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}




.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
a {
	color: #2980b9;
}
